Repository myparcelnl/prestashop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers, @myparcelnl/it-support

feat: add surcharge option to delivery options
  src/Constant.php
  src/Module/Configuration/GeneralForm.php
  src/Service/DeliverySettingsProvider.php
Owners: @myparcelnl/integration-developers

refactor: (my) pr feedback
  src/Constant.php
  src/Module/Configuration/AbstractForm.php
  src/Module/Configuration/GeneralForm.php
  src/Service/DeliverySettingsProvider.php
Owners: @myparcelnl/integration-developers

refactor: use replace instead of merge
  src/Module/Configuration/AbstractForm.php
Owners: @myparcelnl/integration-developers

feat: add surcharge option to delivery options
  src/Constant.php
  src/Module/Configuration/AbstractForm.php
  src/Module/Configuration/GeneralForm.php
  src/Service/DeliverySettingsProvider.php
Owners: @myparcelnl/integration-developers

chore: update to 1.2.0
  myparcelbe.php
Owners: @myparcelnl/integration-developers

fix: fix error when loading order which has delivery options
  controllers/admin/AdminMyParcelBELabelController.php
  src/DeliveryOptions/DeliveryOptions.php
  src/Factory/Consignment/ConsignmentFactory.php
  src/Model/Core/Order.php
  src/Module/Carrier/Provider/DeliveryOptionsProvider.php
  src/Module/Hooks/Helpers/AdminOrderView.php
Owners: @myparcelnl/integration-developers

fix: make surcharge mode work as expected
  src/Service/DeliverySettingsProvider.php
Owners: @myparcelnl/integration-developers

Add-MyParcelBE
  language/nl_NL.html
Owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers

Update nl_NL.html
  language/nl_NL.html
Owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers

Update nl_NL.html (#35)
  language/nl_NL.html
Owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers

fix: fix status change webhook not triggering sometimes
  controllers/admin/AdminMyParcelBELabelController.php
  controllers/front/hook.php
  src/Constant.php
  src/Entity/OrderStatus/AbstractOrderStatusUpdate.php
  src/Entity/OrderStatus/DeliveredOrderStatusUpdate.php
  src/Entity/OrderStatus/PrintedOrderStatusUpdate.php
  src/Entity/OrderStatus/ShippedOrderStatusUpdate.php
  src/Entity/OrderStatusUpdateInterface.php
  src/Logger/ApiLogger.php
  src/Logger/FileLogger.php
  src/Logger/Logger.php
  src/Model/OrderLabel.php
  src/Model/Webhook/StatusChangeWebhookPayload.php
  src/Service/Concern/HasInstance.php
Owners: @myparcelnl/integration-developers

build: update release flow
  .eslintrc
  .github/workflows/build.yml
  .releaserc
  CHANGELOG.md
  Dockerfile
  README.md
  composer.json
  composer.lock
  gulpfile.js
  myparcelbe.php
  package-lock.json
  package.json
  private/updateVersion.js
  readme.md
  release.config.js
Owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers, @myparcelnl/it-support

build: update release flow
  .eslintrc
  .github/workflows/build.yml
  .releaserc
  CHANGELOG.md
  Dockerfile
  README.md
  composer.json
  composer.lock
  gulpfile.js
  myparcelbe.php
  package-lock.json
  package.json
  private/updateVersion.js
  readme.md
  release.config.js
Owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers, @myparcelnl/it-support

fix: fix error when loading order which has delivery options
  controllers/admin/AdminMyParcelBELabelController.php
  src/DeliveryOptions/DeliveryOptions.php
  src/Factory/Consignment/ConsignmentFactory.php
  src/Model/Core/Order.php
  src/Module/Carrier/Provider/DeliveryOptionsProvider.php
  src/Module/Hooks/Helpers/AdminOrderView.php
Owners: @myparcelnl/integration-developers

fix: make surcharge mode work as expected
  src/Service/DeliverySettingsProvider.php
Owners: @myparcelnl/integration-developers

fix: fix status change webhook not triggering sometimes
  controllers/admin/AdminMyParcelBELabelController.php
  controllers/front/hook.php
  src/Constant.php
  src/Entity/OrderStatus/AbstractOrderStatusUpdate.php
  src/Entity/OrderStatus/DeliveredOrderStatusUpdate.php
  src/Entity/OrderStatus/PrintedOrderStatusUpdate.php
  src/Entity/OrderStatus/ShippedOrderStatusUpdate.php
  src/Entity/OrderStatusUpdateInterface.php
  src/Logger/ApiLogger.php
  src/Logger/FileLogger.php
  src/Logger/Logger.php
  src/Model/OrderLabel.php
  src/Model/Webhook/StatusChangeWebhookPayload.php
  src/Service/Concern/HasInstance.php
Owners: @myparcelnl/integration-developers

fix: make surcharge mode work as expected
  src/Service/DeliverySettingsProvider.php
Owners: @myparcelnl/integration-developers

build: update release flow
  .eslintrc
  .github/workflows/build.yml
  .releaserc
  CHANGELOG.md
  Dockerfile
  README.md
  composer.json
  composer.lock
  gulpfile.js
  myparcelbe.php
  package-lock.json
  package.json
  private/updateVersion.js
  readme.md
  release.config.js
Owners: @myparcelnl/integration-developers, @myparcelnl/frontend-developers, @myparcelnl/it-support

fix: fix error when loading order which has delivery options
  controllers/admin/AdminMyParcelBELabelController.php
  src/DeliveryOptions/DeliveryOptions.php
  src/Factory/Consignment/ConsignmentFactory.php
  src/Model/Core/Order.php
  src/Module/Carrier/Provider/DeliveryOptionsProvider.php
  src/Module/Hooks/Helpers/AdminOrderView.php
Owners: @myparcelnl/integration-developers

fix: fix status change webhook not triggering sometimes
  controllers/admin/AdminMyParcelBELabelController.php
  controllers/front/hook.php
  src/Constant.php
  src/Entity/OrderStatus/AbstractOrderStatusUpdate.php
  src/Entity/OrderStatus/DeliveredOrderStatusUpdate.php
  src/Entity/OrderStatus/PrintedOrderStatusUpdate.php
  src/Entity/OrderStatus/ShippedOrderStatusUpdate.php
  src/Entity/OrderStatusUpdateInterface.php
  src/Logger/ApiLogger.php
  src/Logger/FileLogger.php
  src/Logger/Logger.php
  src/Model/OrderLabel.php
  src/Model/Webhook/StatusChangeWebhookPayload.php
  src/Service/Concern/HasInstance.php
Owners: @myparcelnl/integration-developers

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration-developers

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.md    @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.yml   @myparcelnl/integration-developers @myparcelnl/frontend-developers

# Css and related file types
*.css   @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.sass  @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.scss  @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.styl  @myparcelnl/integration-developers @myparcelnl/frontend-developers

# HTML and HTML-like
*.hbs   @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.html  @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.tpl   @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.twig  @myparcelnl/integration-developers @myparcelnl/frontend-developers

# Images
*.jpeg  @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.jpg   @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.png   @myparcelnl/integration-developers @myparcelnl/frontend-developers
*.svg   @myparcelnl/integration-developers @myparcelnl/frontend-developers

# --- Frontend only ---
*.js    @myparcelnl/frontend-developers
*.jsx   @myparcelnl/frontend-developers
*.ts    @myparcelnl/frontend-developers
*.tsx   @myparcelnl/frontend-developers
*.vue   @myparcelnl/frontend-developers

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration-developers @myparcelnl/frontend-developers
./.*    @myparcelnl/integration-developers @myparcelnl/frontend-developers

# Include IT support for readme changes
readme.md  @myparcelnl/integration-developers @myparcelnl/frontend-developers @myparcelnl/it-support
README.md  @myparcelnl/integration-developers @myparcelnl/frontend-developers @myparcelnl/it-support
